.carrito-container{
    align-items: center;
}
.imgcarrito{
border-color: black;
}

.cantidad-control button {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.cantidad-texto {
    font-size: 1.2rem;
    width: 40px;
    text-align: center;
}